@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sniglet:800");
#creatureFlexCreate{
  display:flex;
  width:800px;
  background: #ffffff82;
  height: 400px;
  border:2px dotted;
  border-radius:10px;
  border-color: rgb(23, 143, 53);
}
#creatureButtons{
	width:250px;
	border-right:2px solid;
	border-color:#739573;
	padding:30px;
	font-family: "Open Sans", sans-serif;
}
#creatureDiv{
	width:500px;
	padding:80px;
	padding-left:140px;
}
#parent {
  position: relative;
  top: 0;
  left: 0;
  width:500px;
  font-family: "Open Sans", sans-serif;
}
.overlayImage {
  margin:auto;
  position:absolute;
}
.imageWrapper {
  position:absolute;
}
#pageText{
	width:600px;
	font-family: "Open Sans", sans-serif;
}
#titleCreate{
	background: rgba(255, 201, 20, 1);
	color: black;
	font-size: 2.4em;
    text-align:center;
	padding-bottom: 50px;
	font-family: "Sniglet", cursive;
    border-radius: 20px;
    position: flex;
}
body{
	background:rgba(228, 87, 46, 1);
}
#pageDiv{
	border:2px solid;
	border-radius:10px;
	background:rgba(118, 176, 65, 1);
	border-color: white;
    font-family: "Open Sans", sans-serif;
}
#creatureColorButtons{
	display:flex;
	height:60px;
	padding-top:10px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

#geneticDiv{
    font-family: "Open Sans", sans-serif;
}
#geneDiv{
    font-family: "Open Sans", sans-serif;
}
input{
		width:22px;
		padding:0px;
		color:#656584;
		border-radius:5px;
		font-family: "Open Sans", sans-serif;
	    font-size: 14px;
	}
	#creatureDiv{
   background-image: url("https://myfuzzyfriends.000webhostapp.com/background.png");

	}
	#creatureColorButtons{
		height:auto;
		/* padding-bottom:10px !important; */
		padding:0px;
		font-size:12px;
		padding-top:5px;
		padding-bottom:5px;
		background-color:#f0f8ff45;
		border-radius:10px;
	}
	#bodyColorText{
		border-bottom:1px solid;
	}
	#dnapl{
	display:flex;
	float:left;
	}
	#dnapr{
	display:flex;
	float:right;
	}